@charset "UTF-8";

#nav-bar {
  position: fixed;
  z-index: 5;
  background-color: #00a087;
  color: #e8fdff;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

#nav-bar .logo {
  width:80px;
  height: 80px;
}

#nav-bar  span.header {
  font-size: 2rem;
  line-height: 85px;
  font-weight: 100;
  margin-left: 10px;
  height: 100%;
  vertical-align: bottom;
}

#nav-bar button {
   color: #00a087;
  background-color: #e8fdff;
  font-size: 1.25rem;
  border-radius: 5px;
  border: solid 1px #000;
  display inline;
  float: right;
  padding: 1rem 0.5rem;
  margin: 0.75rem  
}

#nav-bar button:hover {
  background-color: #fff;
  color: #000;
}
